.header {
    padding-top: 20px;
    display: flex;
    align-items: center;
}
.header-logo {
    margin-right: 300px;
    padding-left: 100px;
}

.navit {
    color: beige;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    margin-right: 70px;
}

.header-bot{
    position: relative;
    align-items: center;
    float: left;
}

.header-title {
    padding-top: 50px;
    color: aliceblue;
    font-family: 'Comfortaa', cursive;
    font-size: 50px;
    font-weight: 400;

    text-align: center;
    position: absolute;
    left: 250px;
    top: 200px;


}
.header-sub{
    color: aliceblue;
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    font-weight: 400;
}

.arts{
    float: right;
    padding-right: 100px;
    padding-top: 50px;
}

.header-resub{
    font-family: 'Comfortaa', cursive;
    padding-left: 60px;
    padding-top: 70px;
}

.res{
    color: azure;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    margin-right: 70px;
}

.body{
    background-color: black;
}


.fot{
    color: aliceblue;
    font-size: 8px;
    text-align: center;
    padding-top: 100px;
}