*{
    margin: 0;
    padding: 0;
}

body{
    background: black;
    color: wheat;
}
header, nav{
    vertical-align: middle;
    display: flex;
    justify-content: center;
}
.HeadMenu li {
    margin-top: 25px;
    margin-right: 100px;
    display: inline-block;
    vertical-align: middle;
}

.HeadMenu a {
    vertical-align: middle;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: wheat;
    }

.Logo{
    position: absolute;
    top: 50;
    left: 50;
    float: left;
}

.HeadMenu{
    vertical-align: middle;
    display: inline-block;
}

.Logo h1{

    vertical-align: middle;
    font-size: 30px;
    color: wheat;
}

.HeadMenu a:hover{
    color: #b800ff;
}

.About{
    margin-top: 100px;
    margin-left: 200px;
}

.About h1{
    margin-top: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: wheat;
    
}

.Card{
margin-bottom: 50px;
}

.Info ul{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    vertical-align: middle;
    display: inline-block;
    margin-right: 100px;
    font-size: 20px;
}

.TextInfo li{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.AboutMeTop{
    margin-right: 100px;
    margin-bottom: 30px;
}

.h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 30px;    font-size: 30px;
}

.h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    vertical-align: middle;
    display:flex;
    font-size: 20px;
}