*{
    background: black;
    background-color: black;
}

:root{
    background: black;
    background-color: black;
}
.mybody{
    background: black;
    background-color: black;
}
header, nav{
    vertical-align: middle;
    display: flex;
    justify-content: center;
}
.HeadMenu li {
    margin-top: 25px;
    margin-right: 100px;
    display: inline-block;
    vertical-align: middle;
}

.HeadMenu a {
    vertical-align: middle;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: wheat;
    }

.Logo{
    position: absolute;
    top: 50;
    left: 50;
    float: left;
}

.HeadMenu{
    vertical-align: middle;
    display: inline-block;
}

.Logo h1{

    vertical-align: middle;
    font-size: 30px;
    color: wheat;
}

.HeadMenu a:hover{
    color: #b800ff;
}

.About{
    margin-top: 100px;
    margin-left: 200px;
}

.About h1{
    margin-left: 200px;
    margin-top: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: #b800ff ;
    
}

.Card{
margin-bottom: 50px;
display:flex;
}

.Info ul{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    vertical-align: middle;
    display: inline-block;
    margin-right: 100px;
    font-size: 20px;
}

.TextInfo li{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.h2{
    margin-right: 100px;
    margin-bottom: 30px;
}

.h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    vertical-align: middle;
    margin-left: 200px;
    margin-top: 20px;
    display:flex;
    margin-bottom: 30px;    
    font-size: 30px;
    color: #b800ff;
}

.h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    vertical-align: middle;
    display:flex;
    font-size: 20px;
}

.aa {
    margin-bottom: 30px;    
    margin-right: 20px;
    display: inline-block;
}
.What{
    margin-right: 100px;
    margin-bottom: 30px;
}
.Hutao{
    margin-left: 200px;
}

br{
margin-top: 50px;
}
footer{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;

}

.contactform{
    margin-left: 200px;
    margin-top: 100px;
}

.Contact h1{
    margin-left: 200px;
    margin-bottom: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: #b800ff ;
}
.ContactMe form{
 margin-bottom: 30px;
}

.ContactMe p{
    margin-bottom: 30px;
    margin-left: 200px;
}

.sumb{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #b800ff ;
}

.HeadMenu{
    vertical-align: middle;
}